		<div id="footer">
			<hr id="un">
			<address>
				2017 &copy; Tomas Rimkus
			</address>
		</div>
	</div>
	<script>
		$(function () {
			setNavigation();
		});

		function setNavigation() {
				var path = window.location.pathname;
				path = decodeURIComponent(path);
				console.log(path);

				$(".nav a").each(function () {
						var href = $(this).attr('href');
						if (path === href) {
								$(this).closest('li').addClass('active');
						}
				});
		}
	</script>

</body>
</html>