<!DOCTYPE html>
<html>
<head>
	<title>Car Service</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/pagrindinis.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="icon" type="text/css" href="/images/logo.png">
</head>
<body>
	<div class="container-fluid" id="page">
		<div class="row" id="header">
			<img id="background" class="img-fluid" src="images/carcover.jpg">
			<ul class="nav">
				<li>
					<a href="/">
						<div>Pagrindinis</div><hr class="active">
					</a>
				</li>
				<li>
					<a href="/anketa">
						<div>Registruotis</div><hr class="selector">
					</a>
				</li>
				<li>
					<a href="/kontaktai">
						<div>Kontaktai</div><hr class="selector">
					</a>
				</li>
			</ul>