<% include ./partials/header %>

			<p id="about">Pasirinkite registracijos tipą</p>
		</div>
		<div id="taisymas">
			
			<img id="carper" src="images/carper.jpg">
			<a href="anketataisymas.html"><p>Registruotis automobilio taisymui</p></a>
			
		</div>
		<div id="perziura">
			
			<img id="carrepair" src="images/carrepair.jpg">
			<a href="anketaperziura.html"><p>Registruotis automobilio apžiūrai</p></a>			
		</div>

<% include ./partials/footer %>