<% include ./partials/header %>
		<p class="about">Registracija apžiūrai</p>
</div>
<div class="row">
	<div class="col-12">
		<form id="rezervacija">
			<div class="form-group">
				<label for="fullname">Vardas Pavardė</label>
				<input class="form-control" type="text" placeholder="Vardenis Pavardenis" required>
			</div>
			<div class="form-group">
				<label for="email">El. paštas</label>
				<input type="email" class="form-control" id="email" placeholder="vardas@gmail.com" required>
			</div>
			<div class="form-group">
				<label for="description">Komentaras</label>
				<textarea class="form-control" id="description" rows="5" placeholder="Jūsų komentaras" required></textarea>
			</div>
			<div class="custom-file">
				<label for="file">Įkelti failą</label>
				<label class="file" for="file">Pasirinkti failą</label>
				<input type="file" class="form-control-file" id="file" required>
			</div>
			<button type="submit" class="btn btn-light submitButton">Patvirtinti</button>
		</form>
	</div>
</div>

<% include ./partials/footer %>