<% include ./partials/header %>
			<p class="pav">Kontaktiniai duomenys</p>
		</div>
		<div id="content">

			<table id="info">
				<tr>
					<td>
						<img src="images/houselogo.png">
					</td>
					<td>
						<p>Liepų g. 29, Gindulių k., Klaipėdos raj. sav.</p>
					</td>
				</tr>
				<tr>
					<td>
						<img src="images/phone.png">
					</td>
					<td>
						<p>+370 6 900 6941</p>
					</td>
				</tr>
				<tr>
					<td>
						<img src="images/userlogo.png">
					</td>
					<td>
						<p>Tomas Rimkus</p>
					</td>
				</tr>
				<tr>
					<td>
						<img src="images/maillogo.png">
					</td>
					<td>
						<p>rimk.tom@info.lt</p>
					</td>
				</tr>
			</table>

			<form id="contact">
				<table>
					<tr>
						<td>Jūsų el. paštas:<br>
						<input type="text" name="pastas" placeholder="El. paštas" size="28"></td>
					</tr>
					<tr>
						<td  id="myg" colspan="2"><textarea rows="4" placeholder="Įveskite tekstą" cols="50" required></textarea></td>
					</tr>
					<tr>
						<td><input type="submit" value="Siųsti laišką"></td>
					</tr>
				</table>
			</form>
		</div>
			<img id="map" src="images/map.png">

<%include ./partials/footer %>