<% include ./partials/header %>
			<p class="about">Greitai ir kokybiškai atliekami kėbulo remonto darbai</p>				
		</div>

<!-- CONTENT1 -->
		<div id="content1">
			<h1 class="sectionName">Apie mus</h1>
			<table id="aboutable">
				<tr>
					<td class="display"><img src="images/manUI.png"></td>
					<td class="display"><img src="images/wheelUI.png"></td>
					<td class="display"><img src="images/cogUI.png"></td>
				</tr>
				<tr>
					<td><p>Darbą pradėjome ankstyvais <br>2000-siais ir laikui bėgant tapome vieni geriausių apylinkėje</p></td>
					<td><p>+1000 gražesnių ir saugesnių automobilių ir tiek pat patenkintų klientų</p></td>
					<td><p>Nuolant auganti ir tobulėjanti komanda susidedanti iš profesionalių darbuotojų</p></td>
				</tr>
			</table>
		</div>

<!-- CONTENT2 -->
		<div class="row" id="content2">
			<div class="col-12 col-md-6 backtwo">
				<!--<img class="img-fluid" src="images/carpaint.jpg">-->
			</div>
			<div class="col-12 col-md-6 ">
				<h2 id="pav">Teikiamos paslaugos</h2>
				<ul id="carul">
					<li>Atskirų kėbulo dalių remontas</li>
					<li>Dalių ar viso automobilio dažymas</li>
					<li>Stiklų tamsinimas</li>
					<li>Smėliavimo paslaugos</li>
					<li>Draudiminis taisymas</li>
					<li>Ir dar daugiau...</li>
				</ul>
			</div>
		</div>

<!-- IFOAREA -->
		<div class="row" id="infoarea">
			<div class="col-12">
				<h1 class="sectionName">Prekės ženklai</h1>
			</div>
			<table id="products">
				<tr>
					<td><img src="images/3m.png"></td>
					<td><img src="images/autocolor.png"></td>
					<td><img src="images/caparol.jpg"></td>
					<td><img src="images/dayco.png"></td>
				</tr>
				<tr>
					<td><img src="images/dupli.png"></td>
					<td><img src="images/novol.jpg"></td>
					<td><img src="images/u-pol.png"></td>
					<td><img src="images/wurth.png"></td>
				</tr>
			</table>
		</div>

<!-- CONTENT3 -->
		<div class="row" id="content3">	
			<div class="col-sm-12 col-md-6">
				<h2 id="pav">Automobilio apžiūra</h2>
				<ul id="apziuraul">
					<li>Žalos nustatymas po avarijos</li>
					<li>Remonto kainos nustatymas</li>
					<li>Parengimas techninei apžiūrai</li>
					<li>Automobilio būklės nustatymas</li>
					<li>Technologinių įtaisų peržiūra</li>
				</ul>
			</div>
			<div class="col-sm-12 col-md-6 backthree">
				
			</div>
		</div>

		<div id="content4">
			<h1 class="sectionName">Turite klausimų?</h1>
			<div>
				<table id="kontaktaitable">
					<tr>
						<td>
							<a href="kontaktai.html">
								<img src="images/phone.png" id="phone">
							</a>
						</td>
						<td>
							<a href="kontaktai.html">
								<p id="nuorodakontaktai">Susisiekite su mumis!</p>
							</a>
						</td>
					</tr>
				</table>	
			</div>
		</div>

<% include ./partials/footer %>