body {
    margin: 0px;
    padding: 0px;
    background-color: #F1F8E9;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #5D4037;
}
h1 {
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid white;
}

.active {
    background-color: #01579B;
}

li a:hover:not(.active) {
    background-color: #212121;
}

footer {
    text-align: center;
}