* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto slab', serif;
}

body {
  /*background-color: #3F83BA;*/
  background-color: #006fc9;
}

#footer {
  color: white;
  margin-top: 25px;
}

#header {
  filter: drop-shadow(0 0px 5px black);
}

#un {
  border-width: 1px;
  max-width: 100%;
  visibility: visible;
}

address {
  text-align: center;
  padding: 10px;
}

#background {
  height: 300px;
  width: 100%;
  filter: brightness(70%);
  display: block;
}

#nav {
  position: absolute;
  top: 30px;
  left: 600px;
}

.nav li {
  float: left;
  padding: 10px;
  font-size: 2em;
}

ul {
  position: absolute;
  top: 20px;
  left: 800px;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

#logo {
  max-height: 60px;
  max-width: 200px;
}

hr {
  visibility: hidden;
}

.active {
  visibility: visible;
  color: orange;
}

a:hover .selector {
  visibility: visible;
  color: #f0a32f;
}

#about {
  font-size: 3.4em;
  position: absolute;
  max-width: 600px;
  color: white;
  top: 150px;
  left: 40px;
  padding: 10px;
  margin: 0;
  text-align: left;
}

#map {
  display: block;
  margin: auto;
  width: 600px;
  height: 450px;
}

#info {
  margin: auto;
  color: white;
  font-size: 1.5em;
  margin-left: 50px;
}

table p {
  margin-left: 15px;
  vertical-align: middle;
}

.pav {
  text-align: center;
  color: white;
  font-size: 3em;
  margin: 25px;
}

#contact {
  display: block;
  color: white;
  font-size: 1.5em;
  margin-left: 50px;
  margin-top: 15px;
}

#contact table td:not(#myg) {
  padding-bottom: 10px;
}

#content {
  max-width: 50%;
  float: left;
}
